.bonus-main{
    background-color:  rgba(17, 17, 17, 0.05);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 58%;
    margin: 10px auto;
    height: 400px;
}.title{
    text-align: center;
    margin: 10px;
}
.answers{
    width: 650px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 15px;
}

@media (max-width:620px)  { 
    .bonus-main{
        background: rgba(17, 17, 17, 0.05);
        width: 95%;
        text-align: center;
        min-height: 600px;
    }    
    .answers{
        width: 350px;
        text-align: center;
        margin: 10px auto;
        margin-left: 10px;

    }
    .answers-main{
        text-align: center;
    }
}

@media (min-width:321px) and (max-width:1040px){
    .bonus-main{
        width: 80%;
    } 
}